h1{
    color:cyan;
    font-size: 18px;

}

ul ol{
    list-style-type: square;
}

a:link{
    color: green;

}

a:visited{
    color: red;
}

p{
    font-family: "Ariel", "Helvetica",sans-serif;
    font-weight: bold;
    padding: 20px;
}